body {
	margin: 0;
	width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	font-family: "Avenir Next", sans-serif;
	color: white;
}

iframe {
	border: none;
	height: 100%;
	width: calc(100% - 500px);
}

#symbol {
	margin: 0 auto;
	margin-top: 25px;
	width: 70px;
	height: 70px;
	border: 5px solid white;
	border-radius: 50%;
	box-sizing: border-box;
	text-align: center;
	font-size: 3rem;
	font-weight: bold;
}

#side {
	padding-top: 10px;
	padding-bottom: 10px;
	box-sizing: border-box;
	overflow-y: scroll;
	width: 500px;
	height: 100%;
	background-color: #945100;
}

.sidecontent {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
	
#side > * {
	box-size: border-box;
}
	
h1, h2 {
	margin: 0;
	padding: 0 10px 0 10px;
	border: 0;
	text-align: center;
}

h1 {
	font-size: 1.8rem;
	margin-top:20px;
}

.subtitle {
	text-align: center;
	font-style: italic;
	margin-bottom: 20px;
}


.tile {
	box-sizing: border-box;
	width: 100%;
	padding: 15px 30px 15px 30px;
	font-size: 1.2rem;
}

.tile:hover {
	background-color: rgba(0, 0, 0, 0.07);
}

.tile p {
	margin: 0;
}

.s1 {
	margin-top: 3px;
	font-size:3rem;
}

.s2 {
	font-size: 1.8rem;
}

.s3 {
	text-align: right;
	font-style: italic;
}

.s3 span {
	font-size: 2rem;
	line-height: 1rem;
	position: relative;
	top: 0.27rem;
	right: 0.2rem;
}

.s4 {
	font-style: italic;
}

.tile ul {
	margin: 0;
	margin-top: 3px;
}

.divider {
	width: 90%;
	height: 1px;
	margin: 10px auto 20px auto;
	border-top: 2px solid rgba(0,0,0,0.2);
}

.attr {
	text-align: right;
}

.buttons {
	padding: 6px;
	margin-top: 4px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.button {
	padding: 9px;
	margin: 7px;
	font-size: 0.95rem;
	border-radius: 4px;
	border: 1px solid white;
	background-color: rgba(255, 255, 255,0.01);
	box-shadow: 0px 0px 7px rgba(0,0,0,0.35);
	color: white;
	text-decoration: none;
	text-align: center;
}

.button:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.13);
}

.bottom {
	padding-bottom: 15px;
}

@media only screen and (max-width: 1000px) {
		body {
			flex-direction: column;
		}
		iframe {
			width: 100%;
			min-height: max(60%, 250px);
		}
		#side {
			width: 100%;
			height: auto;
			overflow-y: visible;
		}
		.sidecontent {
			margin: 0 auto;
			max-width: 500px;
			align-items: center;
		}
		.bottom {
			position: relative;
		}
		.s1 {
			font-size: 2.1rem;
		}
		.s2 {
			font-size: 1.4rem;
		}
		.buttons {
			margin-top: 20px;
		}
		.button {
			min-width: 200px;
			padding: 20px;
		}
}